[Desktop Entry]
Categories=Utility;
Comment=A X compositor
Exec=picom -b
GenericName=X compositor
#Hidden=true
Icon=picom
Keywords=compositor;composite manager;window effects;transparency;opacity;
Name=picom
TryExec=picom
Type=Application
Version=1.0
OnlyShowIn=LXQt
#NotShowIn=KDE
